### Configurando Docker

Para arrancar este notebook, primero debes tener docker instalado. Luego en tu terminal (cmd, iterm2 o lo que uses) debes escribir:

* docker pull postgres

Luego, con postgres instalado, debemos crear un super user:

docker run --name my_postgres -e POSTGRES_PASSWORD=mysecretpassword -p 5432:5432 -d postgres

Chequeamos que funciona correctamente, escribiendo docker ps en la terminal. Debería aparecer algo así:


    CONTAINER ID     IMAGE                       COMMAND                  CREATED         STATUS         PORTS                    NAMES
    <container_id>   postgres        "docker-entrypoint.s…"   <time_since_creation>   Up <time_running>   0.0.0.0:5432->5432/tcp   my_postgres



una vez funcionando, hacemos en nuestro jupyter notebook

Las librerías a utilizar serán:
!pip install psycopg2-binary
!pip install ipython-sql
pip install psycopg2-binary sqlalchemy

In [1]:
!pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in /opt/homebrew/Caskroom/miniconda/base/envs/datascience/lib/python3.12/site-packages (2.9.9)
Requirement already satisfied: sqlalchemy in /opt/homebrew/Caskroom/miniconda/base/envs/datascience/lib/python3.12/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/Caskroom/miniconda/base/envs/datascience/lib/python3.12/site-packages (from sqlalchemy) (4.9.0)

### Cargamos la extensión de SQL

In [2]:
%load_ext sql

### Configurar la conexión a PostgreSQL

In [3]:
%sql postgresql://postgres:mysecretpassword@localhost:5432/postgres

In [4]:
### Probar que funciona correctamente

In [8]:
%%sql
CREATE TABLE example (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

INSERT INTO example (name, age) VALUES ('Alice', 30), ('Bob', 25), ('Charlie', 35);

SELECT * FROM example;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
3 rows affected.
3 rows affected.

[(1, 'Alice', 30), (2, 'Bob', 25), (3, 'Charlie', 35)]

In [9]:
# Prueba la conexión con un simple SELECT
%sql SELECT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(1,)]

### Crear tablas con datos: Pokemon

In [12]:
%%sql

-- Crear tabla pokemon
CREATE TABLE IF NOT EXISTS pokemon (
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(50),
    atributo VARCHAR(50)
);

-- Crear tabla entrenador
CREATE TABLE IF NOT EXISTS entrenador (
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(50),
    pokemon_id INT,
    FOREIGN KEY (pokemon_id) REFERENCES pokemon(id)
);

-- Crear tabla gimnasio
CREATE TABLE IF NOT EXISTS gimnasio (
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(50),
    ciudad VARCHAR(50)
);

-- Crear tabla batalla
CREATE TABLE IF NOT EXISTS batalla (
    id SERIAL PRIMARY KEY,
    entrenador_id INT,
    gimnasio_id INT,
    fecha DATE,
    resultado VARCHAR(50),
    FOREIGN KEY (entrenador_id) REFERENCES entrenador(id),
    FOREIGN KEY (gimnasio_id) REFERENCES gimnasio(id)
);

-- Crear tabla medalla
CREATE TABLE IF NOT EXISTS medalla (
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(50),
    gimnasio_id INT,
    FOREIGN KEY (gimnasio_id) REFERENCES gimnasio(id)
);

-- Crear tabla intermedia entrenador_medalla
CREATE TABLE IF NOT EXISTS entrenador_medalla (
    entrenador_id INT,
    medalla_id INT,
    PRIMARY KEY (entrenador_id, medalla_id),
    FOREIGN KEY (entrenador_id) REFERENCES entrenador(id),
    FOREIGN KEY (medalla_id) REFERENCES medalla(id)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Agregamos datos

In [13]:
%%sql

-- Insertar datos en pokemon
INSERT INTO pokemon (nombre, atributo) VALUES 
('Pikachu', 'Eléctrico'),
('Charmander', 'Fuego'),
('Squirtle', 'Agua');

-- Insertar datos en entrenador
INSERT INTO entrenador (nombre, pokemon_id) VALUES 
('Ash', 1),
('Brock', 2),
('Misty', 3);

-- Insertar datos en gimnasio
INSERT INTO gimnasio (nombre, ciudad) VALUES 
('Gimnasio Ciudad Verde', 'Ciudad Verde'),
('Gimnasio Ciudad Plateada', 'Ciudad Plateada');

-- Insertar datos en batalla
INSERT INTO batalla (entrenador_id, gimnasio_id, fecha, resultado) VALUES 
(1, 1, '2024-05-26', 'Victoria'),
(2, 2, '2024-05-26', 'Derrota');

-- Insertar datos en medalla
INSERT INTO medalla (nombre, gimnasio_id) VALUES 
('Medalla Bosque', 1),
('Medalla Roca', 2);

-- Insertar datos en entrenador_medalla
INSERT INTO entrenador_medalla (entrenador_id, medalla_id) VALUES 
(1, 1),
(1, 2);

 * postgresql://postgres:***@localhost:5432/postgres
3 rows affected.
3 rows affected.
2 rows affected.
2 rows affected.
2 rows affected.
2 rows affected.

[]

## Ahora podemos realizar consultas

1. Mostrar todos los datos de la tabla Pokemon

In [14]:
%%sql
SELECT * FROM pokemon;

 * postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[(1, 'Pikachu', 'Eléctrico'),
 (2, 'Charmander', 'Fuego'),
 (3, 'Squirtle', 'Agua')]

2. Mostrar el pokemon que pertenece a cada entrenador (Asume que cada entrenador posee un único pokemon, y vice versa)

In [15]:
%%sql

SELECT 
    entrenador.nombre AS entrenador,
    pokemon.nombre AS pokemon,
    pokemon.atributo AS atributo
FROM 
    entrenador
JOIN 
    pokemon ON entrenador.pokemon_id = pokemon.id;

 * postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[('Ash', 'Pikachu', 'Eléctrico'),
 ('Brock', 'Charmander', 'Fuego'),
 ('Misty', 'Squirtle', 'Agua')]